{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block contact %}
active btn  text-light btn-sm  "  type="submit" style="background-color: #2876f9;
          background-image: linear-gradient(200deg, #2876f9 0%, #6d17cb 74%);"{% endblock contact %}
{% block intro %}
We are trying our best to help you..

{% endblock intro %}
{% block body %}


 <style>
  body{


 } 

.btn1 {

background-color: #310e68;
background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}

 .card{
  border-radius: 15px;

background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
 }

 
 </style>
<div class="container mt-4 mt-1 mb-2">
    
    <div class="row">
  
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-2"></div>
    </div>
    <div class="col-md-8">
     
      <div class="card mt-4">
        <div class="card-body">
        <marquee behavior="" direction="left"
>Fill the details , our team will get in touch with you.</marquee
>
          <form action="/contact" method="post">
            {% csrf_token %}
            <div class="form-group">
              <h4 class="text-center">Contact us</h4>

              <label for="username"></label>
              <input
                type="text"
                class="form-control"
                name="fullname"
                id="fullname"
                placeholder="FullName"
                required
              />
            </div>

            <div class="form-group">
              <label for="pass1"></label>
              <input
                type="Email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Email Address"
                required
              />
            </div>
            <div class="form-group">
              <label for="pass1"></label>
              <input
                type="Number"
                class="form-control"
                name="num"
                id="num"
                placeholder="Phone Number"
                required
              />
            </div>
            <div class="form-group">
              <label for="description"></label> 
              <textarea
                class="form-control"
                name="description"
                id="description" 
                placeholder="Description"
                rows="4"
              ></textarea>
            </div>
            <button type="submit" class="btn btn1 text-light  btn btn-outline-dark  btn-md mt-3">
              submit
            </button>
          </form>
         
        </div>
      </div>



</div>
    <div class="col-md-6">
    
    </div>
    </div>
</div>
</div>
<br><br>


 {% endblock body %}