{% extends 'base.html' %}
{% load static %}
{% block title %}
Dev Profile  | DevChroma
{% endblock title %}
{% block dev %}
active  text-light  btn-sm "  type="submit" style="background-color: #2876f9;
          background-image: linear-gradient(200deg, #2876f9 0%, #6d17cb 74%);
{% endblock dev %}
{% block intro %}
Dev Profile
{% endblock intro %}
{% block href %}
href="#dev"
{% endblock href %}
{% block intro-image %}
<img src="{% static 'images/devloper.svg' %}"  class="img-fluid animated" alt="hero-img1">
{% endblock intro-image %}
{% block body %}

{% endblock body %}